<section class="breadcrumb-section">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-xl-6 col-lg-6">
                <div class="breadcrumb-content" id="breadcrumb-bg-img">
                    <div class="breadcrumb-nav" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="200">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#" id="breadcrumb-nav-link">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="breadcrumb-title" data-aos="fade-up" data-aos-duration="1000"
                        data-aos-delay="400">
                        <h2 id="breadcrumb-main-title">Contact Us</h2>
                    </div>
                    <div class="shape-1">
                        <img src="assets/img/shapes/shape-2.webp" alt="shape">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 d-none d-lg-block">
                <div class="breadcrumb-thumb">
                    <img src="assets/img/bg/backdrop2.png" alt="thumb" id="breadcrumb-thumb-img">
                </div>
            </div>
        </div>
    </div>
</section>
