<!-- header-section start -->
<header class="header-section-1">
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="top-bar-content text-center">
                        <div class="text-wrap">
                            <img src="assets/img/icons/calendar-time.svg" alt="icon" />
                            <span>Join Our Event (28 Nov, 2024) Mumbwa, Stumbeko, Central Province.</span>
                        </div>
                        <a href="donations.html" class="e-primary-btn is-hover-white top-btn">
                            Donate Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-layout-2">
        <div class="header-left">
            <div class="logo-wrap-2">
                <a href="index-2.html">
                    <img src="assets/img/logo/white-logo.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="w-100 d-none d-xl-block">
            <div class="header-middle">
                <nav class="main-menu-2 d-none d-xl-block">
                    <ul>
                        <li class="has-dropdown"><a href="index.html">Home</a></li>
                        <li><a href="blog-grid.html">News</a></li>
                        <li><a href="project.html">Projects</a></li>
                        <li><a href="about.html">Who we are?</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </nav>
                <div class="header-info-wrap">
                    <div class="header-info-3 d-none d-xl-flex">
                        <div class="header-info-icon">
                            <i class="fa-solid fa-phone-volume"></i>
                        </div>
                        <div class="header-info-content">
                            <span>Contact Us!</span>
                            <p><a href="tel:+1629555-0129">+260 775-113-149</a></p>
                        </div>
                    </div>
                    <div class="header-btn-wrap d-none d-xl-flex">
                        <a href="donations.html" class="e-primary-btn has-icon">
                            Donate Now
                            <span class="icon-wrap">
                                <span class="icon">
                                    <i class="fa-solid fa-arrow-right"></i>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-right">
            <div class="header-bar-3 d-none d-xl-flex" data-toggle="sidebar">
                <div class="bar bar-1"></div>
                <div class="bar bar-2"></div>
                <div class="bar bar-3"></div>
            </div>
            <div class="header-bar-3 d-xl-none" data-toggle="menubar">
                <div class="bar bar-1"></div>
                <div class="bar bar-2"></div>
                <div class="bar bar-3"></div>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->
