<div id="preloader">
    <div class="preloader">
        <div class="preloader-inner">
            <img src="assets/img/logo/logo-without-words.png" alt="preloader" class="preloader-logo">
            <svg viewBox="0 0 200 200" class="circular-text">
                <path id="circlePath" d="M 100, 100 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0"
                    fill="transparent" />
                <text>
                    <textPath xlink:href="#circlePath" startOffset="0%">
                        OURLAND. OURFUTURE. OUR HANDS. OURLAND. OURFUTURE. OUR HANDS.
                    </textPath>
                </text>
            </svg>
        </div>
    </div>
</div>
